
@font-face {
  font-family: AirbnbCerealApp-Black;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-Black.ttf);
}

@font-face {
  font-family: AirbnbCerealApp-Light;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-Light.ttf);
}

@font-face {
  font-family: AirbnbCerealApp-Book;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-Book.ttf);
}

@font-face {
  font-family: AirbnbCerealApp-ExtraBold;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-ExtraBold.ttf);
}

@font-face {
  font-family: AirbnbCerealApp-Bold;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-Bold.ttf);
}

@font-face {
  font-family: AirbnbCerealApp-Medium;
  src: url(https://s3.amazonaws.com/spektra-website/Fonts/AirbnbCereal-Medium.ttf);
}

html, body, .App{
  background: #f6f9fc;
}
.topnav {
  display: flex;
  height: 60px;
  width: 100vw;
  top: 0;
  right: 0;
  position: fixed;
  text-transform: capitalize;
  padding-left: 16.66666%;
  z-index: 999;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.topnav-clear {
  background: transparent;
  color:#FFFFFF !important;
}

.topnav-white {
  background: #fff;
  color: #90A2BD;
  box-shadow: 0 2px 12px 0 rgba(0,17,44,0.10) !important;
}

.topnav-scrolled {
  background: #fff;
  color: #90A2BD;
}

.topnav [class*='MuiButton-text'] {
  border-radius: 4px;
  font-family: AirbnbCerealApp-Book;
  font-size: 18px;
  padding: 7.5px;
  letter-spacing: 0;
  margin-right: 10px;
  text-align: center ;
  text-transform: capitalize;
  display: inline-flex;
}

.default-btn {
  border-radius: 4px !important;
  font-family: AirbnbCerealApp-Book;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase !important;
}

.nav-link{
  height: 20px;
  border-radius: 4px;
  font-family: AirbnbCerealApp-Book;
  font-size: 18px;
  padding: 20px 15px;
  margin-left: 1px;
  letter-spacing: 0;
  text-align: center ;
  text-transform: capitalize;
  display: inline-flex;
  position: relative;
}
.nav-left a{
  text-decoration: none;
  color: inherit;
}

.topnav-clear .nav-link:hover {
  /* background-color: rgba(0, 0, 0, 0.08); */
  cursor: pointer;
  text-decoration: underline;
}

.nav-left .nav-link:before {
  content: '';
  display: block;
  border-top: 2px solid #0070E0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: none;
  -webkit-transition: none;
  -o-transition: none;

}

.active-nav .nav-link:before{
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 100%;
}

.active-nav .nav-link {
  font-family: AirbnbCerealApp-Medium;
  font-size: 18px;
  color: #00112C;
  letter-spacing: 0;
}

.topnav-white .nav-link:hover {
  color: #61045F;
  cursor: pointer;
}

.blue-button {
  background: #0070E0 !important;
  box-shadow: 0 2px 4px 0 rgba(0,17,44,0.24) !important;
  border-radius:4px !important;
  font-family: AirbnbCerealApp-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: uppercase !important;
}

.highlite-buttons {
  margin-top: 40px;
}

.highlite-text {
  margin-top: 100px;
}

.landing {
  width: 100vw;
  height: 100vh;
}

.left-landing {
  background-image: linear-gradient(-221deg, #AA076B 0%, #61045F 77%);
  height: 100vh;
  margin: 0 auto;
  padding-left: 180px;
  padding-top: 100px;
  padding-right: 50px;
  color: #FFFFFF;
  font-family: WhitneyHTF-Light;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left-landing h1 {
  font-family: AirbnbCerealApp-Medium;
  font-size: 44px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: capitalize;
}

.left-landing p {
  font-family: AirbnbCerealApp-Book;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 30px;
}

.right-landing {
  background-image: url(./images/paymentsbanner.png);
  background-repeat: no-repeat;
  background-position: 90% 0px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.white-logo {
  background-image: url(./images/whitelogo.svg);
  background-repeat: no-repeat;
  background-size: 120px 36px;
  background-position: 50% 12px;
  height: 60px;
  width: 120px;
  display: inline-block;
  margin-left: 180px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.purple-logo {
  background-image: url(./images/spektralogo.svg);
  background-repeat: no-repeat;
  background-size: 120px 36px;
  background-position: 50% 12px;
  height: 60px;
  width: 120px;
  display: inline-block;
  margin-left: 180px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}


.caps {
  text-transform: uppercase !important;
}

.landing-scroll {
  position: relative;
  height: 100px;
}

.scroll-icon {
  background-image: url(./images/scrollicon.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.landing-scroll .scroll-btn {
  position: absolute;
  bottom: -20px;
  font-family: AirbnbCerealApp-Book;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.nav-left{
  display: -webkit-inline-flex;
  display: inline-flex;
  height: 50px;
  padding: 0 10px;
}

footer {
  min-height: 25vh;
  width: 100vw;
}

.footer-highlite {
  color: #fff;
  min-height: 300px;
}

.footer-highlite h1 {
  font-family: AirbnbCerealApp-Book;
  font-size: 44px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: capitalize;
  margin-top: -5px;
}

.footer-highlite p {
  font-family: AirbnbCerealApp-Book;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
}

.signup-btn{
  width: 130px; 
  padding: 10px 20px;
}
.footer-left{
  height: 100%;
  background-image: linear-gradient(-196deg, #AA076B 0%, #61045F 100%);
  padding-left: 180px;
  padding-top: 55px;
}

.footer-right{
  height: 100%;
  padding-left: 100px;
  padding-top: 55px;
  background-image: linear-gradient(-196deg, #AA076B 0%, #61045F 100%);
  padding-right: 170px;
}

.nav-right-btn{
  display: -webkit-inline-flex;
  padding: 12.5px 20px;
  margin-left: -50px;
  height: 28px;
  min-height: 28px;
}



.grey {
  color: #90A2BD !important;
}

.white {
  color: #FFFFFF !important;
}

.experience-container {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.experience-image{
  background: url(./images/CheckoutExperience.png);
  background-repeat: no-repeat;
  margin-top: -20px;
  width: 80%;
  height: 200%;
}
.features-section {
  margin-top: 50px;
  max-width: 100vw;
  height: 100vh;
}

.features-section .card {
  height: 250px;
  position: relative;
}

.card-link{
  font-family: AirbnbCerealApp-Medium;
  /* font-size: 18px; */
  letter-spacing: 0.5px;
  padding-top: 10px;
  position: absolute;
  bottom: 50px;
}

.features-section .card-white a {
  color: #0070E0;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 16px;
}
.features-section .blue-card a {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: underline;
}
/* 
@media only screen and (max-width : 767px){
  .nav-right-btn{
    display: flex;
    display: -webkit-flex;
    height: 30px;
    padding: 10px 20px;
    justify-content: flex-end;
  }
} */
.doc-cat-card {
  padding: 0 20px 5px;
  border: 1px solid #DDE3EB;
  border-radius: 6px;
  height: 105px;
  cursor: pointer;
}

.doc-cat-card  h1 {
  font-family: AirbnbCerealApp-Light;
  font-size: 22px !important;
  color: #00112C;
  letter-spacing: 0;
  margin-top: -8px;  
}

.doc-cat-card:hover {
  border: 2px solid #fff;
  box-shadow: 0 8px 24px 0 rgba(0,17,44,0.12);
}

.doc-cat-card p {
  font-family: AirbnbCerealApp-Book;
  font-size: 14px;
  color: #00112C;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -8px;
}

.doc-footer-copy {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
  text-align: right;
  padding-top: 5px;
  margin-bottom: -30px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  min-width: 1px;
  padding: 20px;
  min-height: 160%;
  color: #6e7893;
}

.card .icon {
  width: 40px;
  height: 40px;
}

.card h1{
  font-family: AirbnbCerealApp-Bold;
  font-size: 22px;
  letter-spacing: 0;
}

.card p {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  padding-top: 50px;
}

.blue-card {
  background: #0070E0;
  color: #fff;
}

.card-white h1{
  color: #00112C;
}

.experience {
  font-family: AirbnbCerealApp-Medium;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 180px;
  padding-top: 180px;
}
.experience h1 {
  font-size: 44px;
  color: #00112c;
  text-transform: capitalize;
}

.experience p {
  line-height: 30px;
  color: #6e7893;
}

.footer-links {
  color: #6e7893;
  padding-left: 180px;
  padding-top: 140px;
  padding-bottom: 140px;
  background:#fff;
}

.footer-links h2 {
  font-family: AirbnbCerealApp-Medium;
  font-size: 20px;
  color: #00112C;
  letter-spacing: 0.56px;
  text-transform: uppercase
}
.footer-links h3 {
  font-family: AirbnbCerealApp-Medium;
  font-size: 17px;
  color: #00112C;
  letter-spacing: 0.56px;
  text-transform: capitalize;
}

.footer-links p {
  font-family: AirbnbCerealApp-Book;
  font-size: 17px;
  color: #00112C;
  letter-spacing: 0.47px;
}

.footer-links a {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0.44px;
  line-height: 30px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.footer-links a:hover {
  color: #00112c;
  text-decoration: underline;
}

.footer-logo {
  background-image: url(./images/spektralogo.svg);
  background-repeat: no-repeat;
  background-size: 100px 31px;
  margin-bottom: -10px;
  margin-top: 10px;
  height: 32px;
  width: 100px;
}

.footer-copy {
  padding-left:180px;
  padding-top: 15px;
  padding-right:180px;
  min-width: 1px;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: capitalize;
  background: #f6f9fc;
  min-height: 10px;
  font-family: AirbnbCerealApp-Medium;
  font-size: 14px;
  color: #00112C;
  letter-spacing: 0;
}

.footer-copy div{
  display: inline-block;
}


.error404-body{
  width: 100vw;
  min-height: 70vh;
  padding-left: 180px;
  padding-top: 100px;

}

.error-msg {
  font-family: AirbnbCerealApp-Medium;
  font-size: 36px;
  color: #00112C;
  letter-spacing: 0;
  width: 400px;
  padding-top: 10px;
}

.error-msg h1{
  font-family: AirbnbCerealApp-Bold;
  font-size: 100px;
  color: #00112C;
  letter-spacing: 0;
}

.error-msg h2 {
  font-family: AirbnbCerealApp-Book;
  font-size: 26px;
  color: #00112C;
  letter-spacing: 0;
  margin-top: -70px;
}

.error-msg p {
  font-family: AirbnbCerealApp-Book;
  font-size: 26px;
  color: #00112C;
  letter-spacing: 0;
  width: 500px;
}

.error-msg a{
  text-decoration: none;
  color: #0070E0;
}
.error-image {
  background: url(./images/404.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 60vh;
  
}

.pricing-page{
  min-height: 80vh;
  background: #fff;
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 180px;
}


.pricing-page h1 {
  font-family: AirbnbCerealApp-Book;
  font-size: 48px;
  color: #00112C;
  letter-spacing: 0;
  text-align: center;
}

.pricing-page p{
  font-family: AirbnbCerealApp-Book;
  font-size: 20px;
  color: #525F7F;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
}

.pricing-highlite {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0px;
}

.pricing-card {
  min-height: 300px;
  box-shadow: 0 0 15px 0 rgba(37, 41, 117, 0.02), 0 2px 52px 0 rgba(37, 38, 94, 0.05);
  width: 75%;
  margin: 0 auto;
  border-radius: 6px;
  margin-bottom: 50px;
}
.pricing-card .top{
  height: 7px;
  width: 100%;
  background-image: linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
.pricing-card .pricing-rate {
  padding: 20px 20px;
  text-align: center;
}

.pricing-card .rate {
  font-family: AirbnbCerealApp-Light;
  font-size: 72px;
  color: #00112C;
  letter-spacing: 0;
  text-align: right;
}

.rate-po {
  margin-left: 40px;
}

.pricing-card .rate-text p{
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  padding-top: 15px;
  text-transform: capitalize;
}

.pricing-rate p {
  opacity: 0.8;
  font-family: AirbnbCerealApp-Book;
  font-size: 17px;
  color: #00112C;
  letter-spacing: 0.47px;
  text-align: center;
}

.pricing-card .pricing-features {
  line-height: 18px;
  border-top: 1px solid rgba(144,162,189,0.24);
  padding: 20px;
}

.feature-item .tick-icon {
  background: url('./images/checkmark.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
  margin: 0 20px -3px 4px;
  display: inline-block;
}
.feature-text {
  display: inline-block;
}

.feature-text p {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
}

.pricing-card .pricing-footer {
  font-family: AirbnbCerealApp-Medium;
  font-size: 16px;
  color: #0070E0;
  letter-spacing: 0.44px;
  text-align: center;
  background: #f6f9fc;
  text-transform: uppercase;
  padding: 14px 0;
}
.pricing-card a {
  text-decoration: none;
  color: #0070E0;
}
.pricing-card h2 {
  font-family: AirbnbCerealApp-Medium;
  font-size: 20px;
  color: #90A2BD;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
}

.documentation{
  background: #fff;
  min-height: 100vh;
}
.breadcrumbs a {
  font-family: AirbnbCerealApp-Book;
  font-size: 12px;
  color: #90A2BD;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.breadcrumb-divider{
  font-size: 10px;
  color: #90A2BD;
}

.doc-body {
  width: 45%;
  padding: 70px 25% 00px;
  position: relative;
}

.doc-body h1 {
  font-family: AirbnbCerealApp-Light;
  font-size: 32px;
  color: #00112C;
  letter-spacing: 0;
  text-transform: capitalize;
  padding-top: 25px;
}

.doc-body p {
  font-family: AirbnbCerealApp-Book;
  font-size: 14px;
  color: #00112C;
  letter-spacing: 0;
  line-height: 24px;
}

.doc-content p>a {
  color: #0070E0;
  margin: 0 3px;
  cursor: pointer;
}

.doc-section {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(144,162,189,0.30);
}

.doc-section a {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
 letter-spacing: 0;
}

.doc-footer-1 p {
  font-family: AirbnbCerealApp-Medium;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
  padding-top: 15px;
  margin-bottom: -5px;
}

.group-links {
  padding-left: 20px;
}

.group-links .active {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #0070E0;
  letter-spacing: 0;
}

.nav-group{
  padding: 6px 0px;
}

.nav-group a {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
  text-decoration: none;
}

.group-links a {
  font-family: AirbnbCerealApp-Book;
  font-size: 16px;
  color: #00112C;
  letter-spacing: 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: 30px;
}

.doc-left-nav {
  position: fixed;
  left: 12.5vw;
}

.doc-right-nav {
  position: fixed;
  right: 19%;
  padding-left: 20px;
}

.page-nav {
  border-left: 1px solid #979797;
}


.page-nav::before{
  content: '';
  width: 10px;;
  height: 10px;
  /* position: absolute; */
  top:0;
}
.active .page-nav:hover::before {
  background: #0070E0;
  width: 100%;
  height: 100%;
}


.doc-right-nav a{
  font-family: AirbnbCerealApp-Medium;
  font-size: 13px;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  line-height: 26px;
  padding-left: 10px;
  color: #90A2BD;
}

.doc-right-nav .active {
  border-left: 3px solid #0070E0;
  color: #0070E0;
}
.doc-right-nav .active a{
  color: #0070E0;
}

.doc-logo {
  left: 10vw;
}
@media only screen and (min-width : 1369px) and (max-width : 1500px){
  .experience-image{
    background-size: contain;
    background-position: 0 120px;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1368px){
  .doc-left-nav {
    left: 10vw;
  }

  .pricing-rate p, .feature-text p {
    font-size: 14px;
  }

  .pricing-card .rate {
    font-size: 55px;
  }
  .pricing-card .rate-text p{
    padding-top: 0;
  }
  .highlite-text{
    margin-top: 60px;
  }
  
  .topnav{
    height: 50px;
  }

  .landing [class*='MuiButtonBase-root'], .landing [class*='MuiButton-root'] {
    min-height: 30px !important;
    height: 28px;
  }

  .topnav [class*='MuiButton-text'], [class*='MuiButton-text'], .topnav [class*='MuiButton-label'] {
    font-size: 14px !important;
    padding: 0px;
    letter-spacing: 0;
    margin-right: 10px;

  }

  .topnav [class*='MuiButton-root']{
    min-height: 28px;
    height: 28px;

  }

  .nav-link{
    font-size: 18px;
  }

  .white-logo, .purple-logo{
    background-size: 100px 24px;
    background-position: 50% 19px;
    height: 48px;
    width: 81px;
    margin-left: 170px;
  }
  .doc-logo {
    margin-left: 10vw;
  }
  .highlite-text p {
    font-size: 14px;
  }
  .highlite-text h1{
    font-size: 26px;
  }
  .left-landing {
    padding-top: 100px;
    height: 80vh;
  }
  .landing-scroll {
    height: 100px;
  }

  .experience {
    padding-top: 155px;
  }
  .experience h1 {
    font-size: 26px;
  }
  .experience p {
    font-size: 14px;
  }
  .experience-image{
    background-size: contain;
    background-position: 0 120px;
  }

  .features-section .card {
    height: 140px;
        /* height: 181px; */
  }
  .features-section .card-white a {
    font-size: 14px;
  }
  .features-section .blue-card a {
    font-size: 14px;

  }

  .features-section .card-link{
    bottom: 20px;
  }

  .card p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    padding-top: 14px;
  }
  .card h1 {
    font-size: 17px;
  }

  .card .icon {
    width: 30px;
    height: 30px;
  }
  .footer-highlite{
    min-height: 250px;
  }
  .footer-highlite p {
    font-family: AirbnbCerealApp-Book;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 16;
    line-height: 16px;
  }

  .footer-highlite h1 {
    font-family: AirbnbCerealApp-Book;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: capitalize;
    margin-top: -5px;
  }
  /* button {height: 40px;} */

  .footer-links h2 {
    font-size: 14px;
  }
  
  .footer-links h3 {
    font-family: AirbnbCerealApp-Medium;
    font-size: 17px;
    color: #00112C;
    letter-spacing: 0.56px;
  }

  .footer-links p {
    font-size: 14px;
    line-height: 10px;
  }

  .footer-links a {
    font-size: 14px;
    line-height: 30px;
  }
    
  .footer-logo {
    background-size: 70px 30px;
    margin-bottom: -10px;
    margin-top: 10px;
    height: 32px;
    width: 70px;
  }
  .error-msg {
    width: 300px;
    padding-top: 30px;
  }

  .error-image {
    height: 60vh;
  }

  .landing {
    height: 80vh;
  }

}

/* @media only screen and (min-width : 768px) and (max-width : 1080px){

  
  .right-landing {
    background-image: url(./images/paymentsbanner.png);
    background-repeat: no-repeat;
    background-position: 70% 0px;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
} */
