

@font-face {
  font-family: WhitneyHTF-Black;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-Black.otf);
}

@font-face {
  font-family: WhitneyHTF-BlackItalic;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-BlackItalic.otf);
}

@font-face {
  font-family: WhitneyHTF-BlackItalicSc;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-BlackItalicSC.otf);
}

@font-face {
  font-family: WhitneyHTF-BlackSC;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-BlackSC.otf);
}

@font-face {
  font-family: whitneyhtf-bolditalic-webfont;
  src: url(https://s3.amazonaws.com/spektra-checkout/fonts/whitneyhtf-bolditalic-webfont.ttf);
}

@font-face {
  font-family: WhitneyHTF-Bold;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-Bold.ttf);
}

@font-face {
  font-family: WhitneyHTF-Book;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-Book.ttf);
}

@font-face {
  font-family: WhitneyHTF-Light;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-Light.ttf);
}

@font-face {
  font-family: WhitneyHTF-Medium;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-Medium.ttf);
}

@font-face {
  font-family: WhitneyHTF-SemiBold;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/WhitneyHTF-SemiBold.ttf);
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/GoogleSans-Medium.ttf);
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url(https://s3.amazonaws.com/spektra-merchant-dashboard/fonts/GoogleSans-Bold.ttf);
}


html, body {
  width: 100%;
  height: 100%;
  background:#fff;
  font-family: WhitneyHTF-Book;
  padding: 0;
  margin: 0;

  }
  
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
